.a{
    width:1205px;
    height:900px;
    border:1px solid black;
    background-color: blueviolet;
}
.a1{
    text-align: center;
    color:white;
     padding-top:50px;
}
.a2{
    width:200px;
    height:300px;
    border:1px solid white;
    position: absolute;
    left:150px;
    top:160px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px;
    background-color: white;

}
.a3{
    width:200px;
    height:300px;
    border:1px solid white;
    position: absolute;
    left:450px;
    top:160px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px;
    background-color: white;
}
.a4{
    width:200px;
    height:300px;
    border:1px solid white;
    position: absolute;
    left:750px;
    top:160px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px;
    background-color: white;
}
.a5{
    width:200px;
    height:300px;
    border:1px solid white;
    position: absolute;
    left:150px;
    top:500px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px;
    background-color: white;
}
.a6{
    width:200px;
    height:300px;
    border:1px solid white;
    position: absolute;
    left:450px;
    top:500px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px;
    background-color: white;
}
.a7{
    width:200px;
    height:300px;
    border:1px solid white;
    position: absolute;
    left:750px;
    top:500px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px;
    background-color: white;
}
.a8{
    font-size: large;
    position: absolute;
    top:150px;
    left:40px;
    color:blueviolet;
}
.a9{
    font-size: small;
    position: absolute;
    top:190px;
    left:20px;
    right:5px;
    color:black;
}
button{
    position: absolute;
    top:265px;
    left:30px;
    right:2px;
    background-color:blueviolet;
    width:120px;
    height:30px;
    border-radius: 30px;
    border-color: blueviolet;
}
.b{
    position: absolute;
    left:550px;
    top:50px;
    color:aliceblue;
}